<h1>Homes#home</h1>
<p>Find me in app/views/homes/home.html.erb</p>
    
    <li>
      <%= link_to "新規登録", new_user_registration_path%>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
